[submodule "del"]
    path = del
    url = https://github.com/yebyen/-del.git
[submodule "urbit"]
    path = urbit
    url = https://github.com/urbit/urbit.git
[submodule "arvo"]
    path = urbit/arvo
    url = https://github.com/urbit/arvo.git
